.subMenu{
    height:0px;
    overflow: 'hidden';
}
.subMenuOpen{
    height:auto;
    overflow: 'hidden';
    
}
.gradient{
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    width: 100vw;

}
.hamburger{
    width: 30px;
    height: 30px;
    margin-top:20px ;
   
}
.bg-stone{
    background-color:#a8a99e ;
}